.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel__items {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel__item {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    
  }
  
  
  .carousel__nav {
    position: relative;
    margin-top: 7px;
  }
  
  .prev, .next {
    font-size: 11px;
    font-family: "Lato";
    background-color: #333;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
  }

.carousel .images {
  position: relative;
  display: inline-block;

  width: 50%;
}

  .overlayText {
    position: absolute;
    top: 75%;
    left: 0;
    color: #e4e4e4;
    padding-left: 8px;
    padding-right: 8px;
  }

  .overlayGradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }


  .carousel h2 {
    font-family: "Playfair Display";
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }

  .smallArticle {
    display: flex;
    flex-direction: column;
  justify-content: space-between;  }

  .smallArticle p {
    font-family: "Libre Franklin";
    font-size: 11px;
    font-weight: 400;
  }

  .carousel__item img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */

  }

  .carousel .images img {
    height: 208px ;
    object-fit: cover; /* Ensure the image covers the entire container */
    width: 312.5px;
  }


  .carousel__item p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; /* Remove default margin */
    font-size: 30px;
    font-family: "Playfair Display";
  }
  .carousel__item .text-container {
    width: 50%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align text to the top of the container */
  }

  .carouselSect {
    display: block;
    justify-content: space-between; /* Add space between carousels */
  }

  hr.seperator {
    border-width: 2px; /* Adjust this value as needed */
    border-color: #7C0D3B;
    border-style: solid; /* This ensures the border is a solid line */
    margin: 20px 0px;
}

.banner img {
  position: relative;
  top: -45px;
  left: 275px;
  max-width: 7%;
}

.banner {
  height: 25px;
}