
.followSpotify {
        border: 2px solid;
        font-family: "Libre Franklin";
        line-height: 14px;
        font-size: 6px;
        max-height: 230px;
        max-width: 230px;
        position: relative;
        top: 40px;
        left: 40px;
    }
    
    .followSpotify h2 {
        font-family: "Playfair Display";
        padding-left: 10px;
        padding-top: 10px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .followSpotify img {
        width: 140px;
        height: 140px;
    }

    .followSpotify .spotImgandTxt {
        padding-left: 10px;
        display: flex;
        margin-top: 10px;
    }

    .followSpotify .spotImgandTxt img {
        border: 2px solid #7C0D3B;
    }


    .followSpotify .spotImgandTxt .spotTxt {
        margin-left: 10px;
        display: block;
    }

    .followSpotify .spotImgandTxt .spotTxt h3 {
        font-size: 18px;
        margin-bottom: 11px;
        font-family: "Playfair Display";
        font-weight: 400;
    }

    .followSpotify .spotImgandTxt .spotTxt .OneTxt h3 {
        font-weight: bold;
        font-style: italic;
    }

    .btnandlogo {
        display: flex;
        justify-content: center;
    }


    .btnandlogo img {
        height: 30px;
        width: 30px;
        margin-top: 5px;
        margin-left: 10px;
    }

    .btnandlogo img:hover {
        color: #7C0D3B;
    }