/*.header {
	background-color: #7C0D3B;
	color: white;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
  left: 0;
}

.header h1 {
	font-family: 'Playfair Display';
	font-size: 40px;
}

.header .title {
	display: flex;
}

.header .titandlin {
	display:block;
	margin-right: 10px;
}

.header .logo img {
	width: 50px;
	height: 55px;
	position: relative;
	top: 15px;
}

.header hr.thin1 {
	width: 380px;
	margin-left: 0px;
	position: relative;
	bottom: 10px;
}

.header hr.thick1 {
	width: 380px;
	margin-left: 0px;
	border-top: 2px solid;
	position: relative;
	bottom: 15px;
}
*/

.header {
	background-color: #7C0D3B;
	color: white;
	width: 100%; /* Set the width to 100% to span the entire viewport */
	position: fixed;
	z-index: 1000; /* Ensure it's above other content */
	top: 0;
	left: 0;
	transition: box-shadow 0.3s ease; /* Smooth transition for the drop shadow */
height: 60px
}
  
  .header-shadow {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a drop shadow */
  }
  
  .header h1 {
	font-family: 'Playfair Display';
	font-size: 28px;
  }
  
  .header .title {
	display: flex;
  }
  
  .header .titandlin {
	display:block;
	margin-right: 10px;
  }
  
  .header .logo img {
	width: 35px;
	height: 40px;
	position: relative;
	top: 10px;
  }
  
  .header hr.thin1 {
	width: 267px;
	margin-left: 0px;
	position: relative;
	bottom: 10px;
  }
  
  .header hr.thick1 {
	width: 267px;
	margin-left: 0px;
	border-top: 2px solid;
	position: relative;
	bottom: 15px;
  }
  

.panel .img {
	min-height: 211px;
	background-image: url(../images/spyballoon.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
}

.articleBlockHead .authoranddate {
	display: flex;
	justify-content: space-between;
	font-family: "Libre Franklin";
    font-size: 12px;
}

.articleBlockHead .lineheadthick {
	border-top: 2px solid;
	margin-bottom: 0px;
}



.articleBlockHead h1 {
	font-family: 'Playfair Display';
	font-size: 38px;
	line-height: 45px;
}


.btn {
	font-size: 8px;
    position: relative; /* Ensure the button's pseudo-element is positioned relative to it */
    background: none;
    color: black;
    font-family: "Lato";
    font-weight: bold;
    cursor: pointer;
    transition: color 0.4s linear; /* Only transition color */
    z-index: 1; /* Ensure button text is above the pseudo-element */
	padding: 10px;
	border: 1px solid black;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #7C0D3B;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.btn:hover::before {
    transform: scaleX(1);
}

.subHeader {
	border-bottom: 1px solid;
	font-family: 'Playfair Display';
	text-align: center; 
	background-color: #e4e4e4;
}

.subHeader .container{
	padding: 0px;
	margin-top: 60px;
}

.subHeader h1 {
	font-weight: 300;
	font-size: 18px;
}

.subHeader h1:hover {
	text-decoration: underline;
	color: #7C0D3B;
}

.subHeader 
.categories {
  list-style-type: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
}

.subHeader .categories li {
		display: inline-block; /* Display the categories horizontally */
		margin: 0 10px; /* Adjust spacing between categories */
	  }

.containerHead {
	display: flex;
    justify-content: space-between;
}

.header h2 {
	font-family: "Playfair Display";
	align-items: center;
	font-size: 18px;
	font-weight: 300;
}

.header h2:hover {
	text-decoration: underline;
}

.options {
	display: flex;
	position: relative; /* Required for absolute positioning */
	top: 15px;
}

.options img {
	height: 20px;
	position: relative;
	top: 5px;
	margin-left: 20px
}

.options img.spotify1 {
	height: 30px;
	top: 0px;
}

.articleBlockHead img.mainStoryImage {
	width: 625px;
	height: 392px;
	object-fit: cover;
}

.articleBlockHead .panel {
	display: flex;
	flex-direction: column;
justify-content: space-between;	
}

svg.homeIcon {
	position: relative;
	fill: white;
	height: 20px;
	left: 20px;
	top: 3px;
}