.pianoTxtandLine {
    font-family: "Lato";
    font-size: 40px;
}

.news-HorArt {
    display: flex;
}

.horArticle {
    display:flex;
    justify-content: space-between;
}

.mainPart {
    display: block;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}
