.header {
	background-color: #7C0D3B;
	color: white;
}

.header h1 {
	font-family: 'Playfair Display';
	font-size: 40px;
}

.header .title {
	display: flex;
}

.header .titandlin {
	display:block;
	margin-right: 10px;
}

.header .logo img {
	width: 50px;
	height: 55px;
	position: relative;
	top: 15px;
}

.header hr.thin1 {
	width: 380px;
	margin-left: 0px;
	position: relative;
	bottom: 10px;
}

.header hr.thick1 {
	width: 380px;
	margin-left: 0px;
	border-top: 2px solid;
	position: relative;
	bottom: 15px;
}

.panel .img {
	min-height: 211px;
	background-image: url(../images/spyballoon.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
}

.articleBlockHead .authoranddate {
	display: flex;
	justify-content: space-between;
	font-family: "Libre Franklin";
    font-size: 12px;
}

.articleBlockHead .lineheadthick {
	border-top: 2px solid;
}

.articleBlockHead h1 {
	font-family: 'Playfair Display';
	font-size: 38px;
	line-height: 45px;
}



.btn {
	font-size: 8px;
    position: relative; /* Ensure the button's pseudo-element is positioned relative to it */
    background: none;
    color: black;
    font-family: "Lato";
    font-weight: bold;
    cursor: pointer;
    transition: color 0.4s linear; /* Only transition color */
    z-index: 1; /* Ensure button text is above the pseudo-element */
	padding: 10px;
	border: 1px solid black;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #7C0D3B;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.btn:hover::before {
    transform: scaleX(1);
}